body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  overflow: visible;
}

.nav-container {
  display: flex;
  width: 100%;
  margin: 13px 0;
}

.nav-bar {
  max-width: 1440px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 22px 144px;
  justify-content: space-between;
}

.logo-container {
  display: flex;
}

.right {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  padding: 0 13px;
}

.nav-link {
  font-size: 14px;
  color: #2f281e;
}

.btns {
  display: flex;
  align-items: center;
}

.si-su-btns {
  margin-left: 40px;
  font-weight: 600;
}

.btn {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 24px;
  z-index: 2;
}

.btn-orange {
  background-color: #f90;
  border: 1px solid #f90;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  border: 1px solid #bcd0e5;
}

.btn-sign-in {
  margin-right: 14px;
  color: #173a56;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 144px 111px 144px;
  max-width: 1152px;
  width: 100%;
}

.info {
  max-width: 518px;
}

h1 {
  font-weight: 700;
  font-size: 44px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #2f281e;
  line-height: 1.23;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 58px;
  color: #544837;
  line-height: 1.55;
}

.btn-link {
  background-color: #fff;
  border: none;
  display: flex;
}

.btn-link img {
  margin-right: 9px;
}

.btn-link a {
  text-decoration: underline;
  color: #f90;
  font-weight: 600;
  font-size: 16px;
}

.btn-getstarted {
  margin-right: 6px;
  width: 175px;
  height: 53px;
}

/* FEATURE */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 144px 105px 144px;
  text-align: center;
  max-width: 1152px;
  width: 100%;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #2f281e;
  margin-top: 0;
  margin-bottom: 46px;
}

.cards:before {
  content: '';
  width: 100%;
  position: absolute;
  background-image: url('./assets/images/bg-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  max-height: 390px;
  height: 100%;
}

.cards {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1092px;
  margin-bottom: 34px;
}

.card {
  max-width: 240px;
  z-index: 2;
}

.feature-img {
  display: flex;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  margin: 30px 0 13px 0;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  color: #544837;
  margin: 0;
}

.btn-signupnow {
  height: 53px;
}

/* FEATURE 2 SECTION */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 144px;
  text-align: center;
  max-width: 1152px;
  width: 100%;
}

.feature-item {
  display: flex;
  margin: 0 0 105px 0;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.feature-subheader {
  margin-bottom: 3px;
}

.feature-header {
  margin-bottom: 22px;
}

.feature-img {
  display: flex;
}

.feature-text {
  text-align: left;
}

.feature-subtext {
  margin: 0 0 30px 0 !important;
}

.feature-info {
  margin: 0 0 25px 0;
}

.feature-info:last-child {
  margin: 0;
}

.feature-info h5 {
  font-weight: 700;
  color: #2f281e;
  margin: 0 0 12px 0;
}

.feature-info p {
  font-weight: 500;
  font-size: 16px;
  color: #544837;
  margin: 0;
  line-height: 1.55;
}

.tick {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}

.tick:last-child {
  margin: 0;
}

.tick img {
  margin: 0 30px 0 0;
}

/* SUPER HERO SECTION */
.super-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1152px;
  width: 100%;
}

.super-hero:after {
  content: '';
  width: 100%;
  position: absolute;
  background-image: url('./assets/images/avatar-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  max-height: 835px;
  height: 100%;
}

.avatar-img {
  position: absolute;
  z-index: 2;
  margin: 116px auto 135px auto;
}

.need-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  max-width: 542px;
  width: 100%;
  position: absolute;
  margin: 230px 0 0 0;
}

.need-help h2 {
  margin: 0 0 22px 0;
}

.need-help h5 {
  margin: 0;
  color: #567592;
}

.btn-contactourexpert {
  margin: 45px 0 0 0;
  height: 53px;
}

/* MARKETING */
.marketing {
  margin: 865px 0 0 0;
  display: flex;
  flex-direction: column;
  max-width: 1152px;
  width: 100%;
}

.marketing-info h2 {
  font-size: 34px;
  margin: 0 0 9px 0;
}

.marketing-info {
  margin: 0 0 55px 0;
}

.marketing-articles {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.article {
  max-width: 349px;
  width: 100%;
  height: 359px;
}

.article-img {
  display: flex;
}

.article-info p {
  color: #544837;
  font-size: 16px;
  margin: 25px 0 12px 0;
}

.article-author {
  font-weight: 700;
}

.article-title {
  font-weight: 700;
  color: #2f281e;
  font-size: 24px;
  margin: 0;
}

.selected {
  color: #f90;
}

.dots {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 140px;
  margin-bottom: 95px;
  display: flex;
  max-width: 1152px;
  width: 100%;
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
  padding-top: 102px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.links-container {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 20px;
  font-weight: 700;
  color: #2f281e;
  margin: 0 0 35px 0;
}

.footer-links li {
  line-height: 35px;
  color: #544837;
}

.footer-right {
  display: flex;
  justify-content: space-between;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 28px;
  margin-left: 82px;
}

.sign-up-container input {
  background: #ffffff;
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 0 10px 15px;
  height: 48px;
  width: 325px;
  margin-bottom: 21px;
  color: #bcd0e5;
}

.btn-footer {
  height: 39px;
  width: 131px;
  padding: 0;
}

.legal {
  margin-left: 129px;
}
